* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #22d3ee;
}
    body {
        color: #7e22ce;
    }

    h1, h2, h3 {
        color: #db2777;
    }


